.label-primary, .btn-primary {
    background-color: #b93068!important;
}

.bg {
    background-color: #ca638d;
}

.bg {
    background-color: #ca638d;
}

.hand.nosel.fl.uzr.border {
    border-right: 3px solid #b93068!important;
    border-left: 3px solid #b93068!important;
    border-radius: 15px;
    margin: 2px;
    margin-top: 2px;
    margin-left: 2px;
}

#sultan10 {
    border-top: 3px solid #F7F7F7;
    border-bottom: 3px solid #F7F7F7;
    margin-bottom: 3px;
    border-radius: 15px;
}

.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    background-color: #48B097!important;
}

.fr.borderg, .fr.borderg {
    border: 1px solid #8C0000;
    font-family: 'jazeera',FontAwesome;
    border-radius: 15px 0px 15px 0px;
}

.label-primary.mini.fl, .border-radius {
    border: 2px solid #6E6E6E;
    font-family: 'jazeera',FontAwesome;
    border-radius: 15px 0px 15px 0px;
}

.label.tc.border.btn.fl, .label.tc.border.btn.fl {
    border: 1px solid #6E6E6E;
    font-family: 'jazeera',FontAwesome;
    border-radius: 15px 0px 15px 0px;
}

ul.nav.nav-tabs.fl li a:hover {
    background-color: #6E6E6E;
    color: white;
}

ul.nav.nav-tabs.fl li {
    width: 33.3%;
    border-top: 2px solid #415FB0;
    border-radius: 15px 15px 0px 0px;
    background-color: #FFFFFF;
    border-bottom: 3px solid #F7F7F7;
}

ul.nav.nav-tabs.fl li a {
    font-family: 'jazeera',FontAwesome;
    font-size: 13px!important;
    padding: 6px!important;
    text-align: center!important;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    color: #415FB0;
}

div#tlogins {
    border: 2px solid #415FB0;
    border-radius: 20px 20px 0px 0px;
}

div#tlogins.minix.badge.border,.minix.badge.border,.corner.border.label.label- primary {
    background-color: #6E6E6E!important;
    border: 1px solid #6E6E6E;
    background-image: none;
    background-color: #6E6E6E!important
}

.bwall.minix.badge.border,.busers.minix.badge.border {
    background- color: #6E6E6E!important;
    border: 1px solid #6E6E6E;
    background-color: 6E6E6E!important;
    background-image: none
}

.u-msg.break.fl {
    color: #590000;
}

.a.label.label-primary.fl {
    height: 35px;
    border-radius: 0px 0px 0px 0px!important;
    padding: 8px!important;
    border: 2px solid #732158;
}

a.label.label-primary.fl img.fl {
    margin-top: -3px;
    border-radius: 10px 0px;
}

.button.btn.fr.btn-success.fa.fa-refresh {
    background- color: #48B097!important;
    background-image: none;
    margin-top: 1px!important;
    border: 1px solid #7D0000!important
}

div#tlogins a.label.label-primary.fl {
    height: 40px;
    border-radius: 0px 0px 0px 0px!important;
    padding: 8px!important;
    border: 2px solid #1C1480;
}

.sultan9 {
    height: 30px;
    width: 22%;
    margin: 2px;
}

.sultan11 {
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    font-family: 'jazeera',FontAwesome;
    padding: 2px 10px 2px 10px;
    margin: 7px 10px 7px 10px;
}

#sultan8 {
    margin-bottom: 2px;
    font-family: 'jazeera-light',FontAwesome;
    background-color: #C0CFC1;
    height: 28px;
    color: #f9f9f9;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 2px solid #1C1480;
    border-top: 2px solid #1C1480;
    padding-bottom: 2px!important;
}

label.fl.label.loginstat.label-success {
    border-radius: 15px 0px 15px 0px!important;
    font-family: 'jazeera',FontAwesome;
    height: 23px;
    float: initial;
    display: inline-flex;
}

div#tlogins.border.corner,.border.corner {
    box-shadow: inset 0 2px 2px #464545,0 0 8px #48B097!important;
    border: 1px solid #fff!important
}

.lonline.light.break {
    outline: #b40666 solid 1px!important;
    background-color: #98205f26!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important
}

#des1 {
    margin-bottom: 2px;
    margin-top: 4px;
    font-family: el messiri,FontAwesome!important;
    background-image: -webkit-linear-gradient(45deg,rgb(25,25,112) 25%,#656062 25%,#808080 50%,rgb(25,25,112) 50%,rgb(25,25,112) 75%,#616161 75%,#732158);
    color: #f9f9f9;
    border-radius: 0;
    border-bottom: 2px solid #a81d1d;
    border-top: 2px solid #a81d1d;
    padding-bottom: 3px
}

.des2 {
    background-color: #fff;
    border-radius: 0;
    font-family: el messiri,FontAwesome!important;
    padding: 2px 10px;
    margin: 7px 8px!important
}

#des3 {
    font-family: el messiri,FontAwesome!important;
    font-size: 12px!important;
    padding: 10px 0 2!important
}

#des4 {
    font-family: el messiri,FontAwesome!important;
    color: #f9f9f9!important;
    background-image: -webkit-linear-gradient(45deg,rgb(25,25,112) 25%,#656062 25%,#9c2222 50%,rgb(128,128,128) 50%,rgb(128,128,128) 75%,#616161 75%,#616161);
    font-size: 13px!important;
    text-align: center!important;
    border-bottom: 2px solid #9c2222;
    border-top: 3px solid #9c2222
}

#des4:hover {
    color: #4d1f2d!important;
    text-shadow: 0 0 5px #fff!important
}

.label-primary,.btn-primary {
    font-family: el messiri,FontAwesome!important;
    font-size: 14px!important;
    padding: 10px 0 2!important
}

.u-msg.break.fl {
    color: #590000;
}

.lonline.light.break .hand.nosel.fl.uzr.border .fl .fl .fl span.corner.u-topic.dots {
    border-radius: 0px 0px 15px 15px!kkimportant;
}

.button.btn.fr.btn-success.fa.fa-refresh {
    padding: 4px 5px;
    background-color: #48B097!important;
    background-image: none;
    border: 2px solid transparent;
    margin-top: -7px!important;
    border-radius: 50px;
}

#sultanm1 {
    background-color: #48B097;
    color: white;
    padding-right: 8px;
    padding-left: 5px;
    border-radius: 15px 0px;
    padding-top: 0;
    padding-bottom: 2px;
    font-family: 'jazeera',FontAwesome;
    margin: 4px;
}

#sultanm2 {
    color: white;
    background-color: rgb(25,25,112);
    padding: 0;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 0px 15px;
    border: 1px solid #B80707;
    margin: 10px;
}

.sultan9 {
    height: 30px;
    width: 22%;
    margin: 2px;
}

.sultan11 {
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    font-family: 'jazeera',FontAwesome;
    padding: 2px 10px 2px 10px;
    margin: 7px 10px 7px 10px;
}

#sultan5 {
    margin-left: 8%;
    margin-bottom: 2px;
    font-family: 'jazeera-light',FontAwesome;
    background-color: rgb(139,0,0);
    margin-top: -5px;
    height: 24px;
    color: #c10c6b;
    text-shadow: 2px 0px 8px rgba(139,0,0) , 0px 2px 10px #fff !important;
    border-radius: 5px 5px 5px 5px;
}

#sultan25 {
    margin-left: 2px;
    margin-bottom: -4px;
    font-family: 'jazeera-light',FontAwesome;
    background-color: rgb(139,0,0);
    margin-top: 1px;
    height: 24px;
    color: #A80707;
    text-shadow: 2px 0px 8px rgba(0,100,0) , 0px 2px 10px #fff !important;
    border-radius: 5px 5px 5px 5px;
}

.label.tc.border.btn.fl,.label.tc.border.btn.fl {
    border: 3px solid #468FCF!important;
    font-family: el messiri,FontAwesome!important;
    //font-size: 12px!important
}

div#tlogins.fr.borderg {
    font-size: 10px!important;
}

div#tlogins .fr.borderg a {
    font-size: 10px!important;
}

.sultan9 {
    height: 30px;
    width: 22%;
    margin: 2px;
}

.sultan111 {
    font-family: 'jazeera',FontAwesome;
}

div#l1 input#u1 {
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #e1e0e0;
    width: 99%;
    margin-top: 3px;
    margin-left: 1px;
    text-align: center;
    font-family: 'jazeera-light',FontAwesome;
}

div#l1 button {
    border-radius: 0px 0px 15px 15px;
    width: 99%;
    height: 30px;
}

div#l3 button {
    border-radius: 15px;
    width: 99%;
    height: 30px;
    margin-left: 1px;
}

div#l2 button {
    border-radius: 15px;
    width: 70%;
    height: 30px;
}

div#l2 input#pass1, div#l2 input#u2, div#l3 input#pass2, div#l3 input#u3 {
    width: 49%;
    padding: 0px!important;
    float: right;
    margin: 2px 5px 2px 0px;
    ;text-align: center;
    font-family: 'jazeera-light',FontAwesome;
}

div#l2 input#u2, div#l3 input#u3 {
    margin-left: -6px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #e1e0e0;
}

div#l2 input#pass1, div#l3 input#pass2 {
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #e1e0e0;
}

div#l2 , div#l3 {
    padding: 2px!important;
}

div#l1 {
    height: 80px;
    margin: 0px 1px -18px 1px;
    padding: 0px!important;
}

div#l3 br , div#l2 br {
    display: none;
}

div#l2 ,div#l3, div#l1 {
    border-bottom: 2px solid;
    margin-bottom: 2px;
    border-top: 0px solid;
    margin-top: 0px;
    border-color: #48B097;
    border-radius: 15px;
    height: 69px;
}
}
}

label.fl.label.loginstat.label-success, .fr.borderg, .label.label.label-primary.mini.fl {
    margin-top: 5px;
}

.room.borderg.hand.nosel.fl img.fl.u-pic {
    border-radius: 15px 15px 15px 15px;
}

.sultan111, div#d2 {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url();
    background-color: #ffffff;
}

.lonline.light.break {
    background-image: url();
    background-size: inherit;
    border-top: 5px groove #6E6E6E;
    padding-top: 5px
}

.sultan111,div#d2 {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url();
    background-color: #ffffff
}

a.label.label-primary.fl {
    height: 35px;
    border-radius: 19px 19px 0 0!important;
    padding: 8px!important;
    border: 2px solid #732158
}
}

label.fl.label.loginstat.label-success, .fr.borderg, .label.label.label-primary.mini.fl {
    margin-top: 5px;
    height: 27px;
}

label.fl.label.loginstat.label-success {
    border-radius: 5px 5px 5px 5px!important;
    font-family: 'jazeera',FontAwesome;
    height: 22px;
    display: inline-flex;
}

.label.fl.label.loginstat.label-success {
    font-family: 'El Messiri',FontAwesome;
    display: inline-flex;
    background-color: #48B097!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 5%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 1%,transparent)!important;
    float: left!important;
    border-radius: 24px!important;
    border: 1px solid rgb(81, 72, 72)important;
}

.fl.mini.u-msg {
    color: #45597D!important;
    text!important}

.lonline.light.break .hand.nosel.fa.uzr.border >.fa {
    float: right;
    text-align: right;
}

img.fitimg.fl.u-pic {
    border: 1px solid #8C0000;
    border-radius: 19px;
}

label.label.tc.border.btn.fl {
    border-radius: 40px 40px 0px 40px;
}

.room.borderg.hand.nosel.fl img.fl.u-pic {
    border-radius: 15px 15px 15px 15px;
}

.label.tc.border.btn.fl, .label.tc.border.btn.fl {
    border: 1px solid #c9d3e4;
    border-radius: 5px 5px 5px 5px;
}

label.tc {
    border-radius: 15px 15px 0px 0px;
}

#n1w8 {
    background-image: url();
    font-family: 'jazeera-light',FontAwesome;
    margin-bottom: 2px;
    background-color: rgba(104, 101, 100, 0.329);
    height: 28px;
    color: #131212;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 2px solid #6E6E6E;
    border-top: 2px solid #6E6E6E;
    padding-bottom: 2px!important;
    text-shadow: 2px 0px 8px rgb(228, 228, 219) , 0px 2px 10px #fff !important;
}

Style Attribute {
    text-align: left;
    background-color: white;
    width: 99%;
    padding: 2px 1px 1px;
    border-radius: 10px;
    margin: 1px 0px;
    border-width: 1px 2px;
    border-style: solid;
    border-color: rgba(45, 78, 226, 0.603) rgb(55, 47, 165);
}

.fr.co {
    transform: rotate(50deg);
    height: 10px;
    width: 16px!important;
    margin-top: 4px;
}

img.fitimg.fl.u-pic {
    border: 1px solid #9C5151;
    border-radius: 19px;
    background-color: #FFF;
}

div#users img.fl.ustat {
    border-radius: 37px 37px 5px 37px;
    margin: 0;
    margin-right: -38.5px;
    margin-top: -1px;
    width: 39px!important;
    height: 39px!important;
}

element.style {
    border-radius: 10px;
    margin: 0px;
    width: 99.5%;
    padding: 2px 0px 0px;
    background-color: white;
    border-width: 0.4px 2px 0.5px;
    border-style: solid;
    border-color: rgba(45, 78, 226, 0.603) rgb(55, 47, 165);
}

button.btn.fa.fa-image {
    width: 80%;
    text-align: -webkit-center;
    background-color: #1F6A9C;
    color: white;
    font-family: 'jazeera',FontAwesome;
    padding-top: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    MARGIN-TOP: 2PX;
    height: 20px!important;
}

.btn.minix.btn-primary.fa.fa-times.fr, .fa.fa-send.fl.btn.btn-primary, .fa.fa-sign-out.fl.btn.btn-primary, .fr.fa.fa-share-alt.sndfile.fl.btn.btn-primary, .fa.fa-phone.call.fl.btn.btn-success {
    border: 1px solid #415FB0;
    border-radius: 40px 40px 0px 40px;
}

.hand.nosel.fl.uzr.border, .hand.nosel.fl.uzr.border {
    border: 1px solid #415FB0;
    border-radius: 5px 5px 5px 5px;
}

.button.btn.fa.fa-youtube-play {
    width: 100%;
    text-align: -webkit-center;
    background-color: #005f69;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 5%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 1%,transparent)!important;
    color: white;
    font-family: 'El Messiri',FontAwesome;
    padding-top: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    MARGIN-TOP: 2PX;
}

button.btn.fa.fa-image {
    width: 80%;
    text-align: -webkit-center;
    background-color: #4B0082;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 5%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 1%,transparent)!important;
    color: white;
    font-family: 'El Messiri',FontAwesome;
    padding-top: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    MARGIN-TOP: 2PX;
    height: 24px!important;
}

button.btn.fa.fa-youtube img {
    width: 80%!important;
    height: 70px!important;
}

button.btn.fa.fa-youtube {
    background-color: none;
    color: #4B0082;
}

#sa7 {
    transform: rotate(-35deg);
    margin-top: 11px!important;
    margin-left: -37.5px!important;
    float: right;
    transform-style: preserve-3d;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0px 2px 2px 7px;
    margin-right: 2px;
    border: 2px solid rgb(243, 243, 243);
    width: 22%;
    margin: 2px;
    display: inline-block;
}

#sa8 {
    border-top: 2px solid #1F6A9C;
    border-bottom: 2px solid #1F6A9C;
    margin-bottom: 2px;
    border-radius: 10px 10px 10px 10px;
}

div#tlogins .fr.borderg {
    font-size: 10px!important;
}

#sa2 {
    margin-top: -111.30px!important;
}

#sa2,#sa1,#sa9 {
    width: 18%;
    border: 1px solid;
    margin: 2px;
    outline: 0;
    border-color: #FFE0F6;
    margin-left: 32.5px!important;
    float: left;
    transform-style: preserve-3d;
    border-radius: 40px
}
