ul.nav.nav-tabs.fl li a {
    background-color: #826979;
}

.label-primary, .btn-primary {
    background-color: #826979!important;
}


.bg {
    background-color: #a28999;
}

.fr.borderg, .fr.borderg a { border-radius: 3px!important;margin-right: 0!important;background-color: #826979!important;border: 0 solid #000;color: #fff; }



div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: 0 0;
    border: 71px #fff;
    border-radius: 31px;
    background-image: radial-gradient(farthest-corner,#826979 0,#826979 49%,#826979 50%,#826979 100%)!important;
}

div#tlogins ::-webkit-scrollbar-thumb:hover {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px #fff;
    border-radius: 34px
}


div#tlogins ::-webkit-scrollbar-track:hover {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-corner {
    background: 0 0
}



